<div class="wrapper">
    <div class="columns">
        <div class="column">
            <section>
                <h1>Developer Dashboard</h1>
                <h3 class="pt-2">SERVICE REQUESTS from Members</h3>     
                <ol class="service-list">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                </li>
                <button type="submit" id="accept-service" class="px-5 btn-accept">ACCEPT PROJECT</button> 
                {{/each}}
                </ol>
            </section>
        </div>
        
        {{#if services.length}}
        <div class="column">
            <section>  
                <h3 class="pt-5"> MY PROJECTS</h3>
                <ol class="projected-accepted">
                {{#each services as |service|}}
                <li>
                {{> service-info service }}
                <h5>STATUS</h5>
       
                    <p class="pb-2"></p> 
                    <button type="submit" class="px-3 woi">WORKING ON IT</button>
                    <button type="submit" class="px-3 wfr">WAITING FOR REVIEW</button>
                    <button type="submit" class="px-5 done">DONE</button>
                   <p class="pb-5"></p>      
                </li>
                {{/each}}
                </ol>
            </section>
        </div>
            {{/if}}
    </div>
<script src="/javascript/accept-service.js"></script>

</div>
