<div class="wrapper">
    <div class="columns">
        <div class="column"> 
            <section>
            <a href="/member" class="pt-5"> &larr; Back to dashboard</a>
                <h1 class="pt-5">Edit Service</h1>
                <h3>Edit service type:</h3>
                <form class="edit-service-form">
                    <div id="service-type" class="service-type">
                        <input type="radio" name="service-type" value="website">
                        <label for="website">Website</label>
        
                        <input type="radio" name="service-type" value="online-marketing">
                        <label for="online-marketing">Online Marketing</label>
                    
                        <input type="radio" name="service-type" value="programming">
                        <label for="programming">Programming</label>
                    </div>  
                        
                    <label for="service-title">Service Title</label>
                    <input name="service-title" type="text">
                    
                    <label for="service-description">Service Description</label>
                    <input name="service-description" type="textarea">
                    
                    <label for="budget">Budget</label>
                    <input name="budget" type="number" class="form-control">
                    <p class="pb-4"></p> 
                    <button type="submit" id="edit-submit" class="px-5">SUBMIT</button>
                    <button id="edit-delete" class="px-5">DELETE</button>
                </form>
                </section>
        </div>
    </div>
{{!-- <script src="/javascript/add-service.js"></script> --}}
<script src="/javascript/edit-service.js"></script>
<script src="/javascript/delete-service.js"></script>
</div>

