<div class="wrapper">
    <div class="columns">
        <div class="column">
            <h1 class="pt-4">How it Works</h1>
            <h4 class="pb-4">Let's grow together!</h4>
            <p class="pb-4">this platform is an online marketplace for freelance services. The difference is that START US is focused on benefiting the LOCAL community of small businesses and code developers graduates. 
            It gives early graduated developers an opportunity to increase their portfolio and coding experience by allowing them to commit to contracts being offered by local small businesses.
            And give start up businesses the opportunity to have an online 
            presence at a discounted rate by allowing them to create a “Service
            Request” detailing what type of service they are looking for and the 
            price they are willing to pay.
            </p>
            
        </div>
    </div> 
</div>
