<div class="wrapper">
<div class="columns">
    <div class="column">
        <form class="login-form">
            <h1 class="pt-4">Login</h1>
            <h4 class="pb-4">Welcome back!</h4>
                <label for="email-login">Email address</label>
                <input type="text" class="form-control" id="email-login">
                    
                <label for="password-login">Password</label>
                <input type="password" class="form-control" id="password-login">
                <p class="pb-4"></p> 
                <button type="submit" class="px-5">LOGIN</button>
                
        </form>
    </div>
    <div class="column">
        <form class="signup-form">
            <h1 class="pt-4">Sign Up</h1>
            <h4 class="pb-4">Let's grow together!</h4>
                    
            <label for="username-signup">Username</label>
            <input type="text" class="form-control" id="username-signup">
                
            <label for="email-signup">Email address</label>
            <input type="text" class="form-control" id="email-signup" >
                
            <label for="password-signup">Password</label>
            <input type="password" class="form-control" id="password-signup">
            <p class="pb-3"></p>
            <h5>Choose an account type:</h5>
            <div class="account-type">
            <input type="radio" name="account-type" value="member" class="radioBtn">
            <label for="member_1">Member</label>

            <input type="radio" name="account-type" value="developer" class="radioBtn">
            <label for="dev">Developer</label>
            </div>  

            <p class="pb-4"></p>
            <button type="submit" class="px-5">SIGNUP</button>
            <p class="pb-4"></p>
        </form>
    </div>
</div> 
</div>
<script src="/javascript/login.js"></script> <!--absolute path-->